@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;

.bookmark{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 100;
    width: 1rem;
}