@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;

.item-bordered{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    padding: 0 0.5rem;
    border: 1px solid var(--text-color);
}

.buttons-pages{
    @include flexbox(flex,row,nowrap,center,center);
    gap: 10px;
    
}

.button{
    cursor: pointer;
    text-align: center;
    width: 10rem;
    padding: 1rem 0;
    border: 1px solid var(--text-color);
    &--media{
        position: absolute;
        left: 15rem;
        font-size: 0.8rem;
        font-weight: 400;
        width: 4.5rem;
        padding: 0.3rem 0;
        border-radius: 8px;
        &-tv{
            font-weight: 600;
            background-color: var(--text-color);
            color: var(--bg-color);
        }

    }
}
