@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;

.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);;
    gap: 1.5rem;
    @include responsive(laptop){
        grid-template-columns: repeat(4,1fr);
    }
    &__item{
        margin-bottom: 2rem;
    }
    &__image{
        border-radius: 5px;
        object-fit: cover;
        object-position: left;
        width: 100%;
        min-height: 125px;
        max-height:125px ;
        pointer-events: none;
        @include responsive(laptop){
            width: 100%;
            min-height: 190px;
            max-height:190px ;
        }
    }
    &__info{
        pointer-events: none;
        &-top{
            @include flexbox(flex,row,nowrap,left,center);
            gap: 1rem;
        }
    }
}