@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;

.header{
    margin-bottom: 1rem;
    &__top{
        @include flexbox(flex,row,nowrap,space-between,center);
        padding: 1rem;
        background-color: var(--primary-color);
    }
}