@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;


.modal{
    display: none;
    position: relative;
    z-index: 1000;
    max-width: 100vw;
    height: 100%;
    text-align: center;
    background-color: var(--bg-color);
    transform: scale(1);
    transition-duration: 1s;  
    &--show{
        display: block;
    }
    &__image-container{
        margin-left: auto;
    margin-right: auto;
        width: 12rem;
    }
    &__info{
        &-list{
            @include flexbox(flex,row,nowrap,space-between,center);
        }
    }
   
}

.synopsys{
    text-align: left;
}
.casts{
    text-align: left;
    &__list{
        @include flexbox(flex,row,wrap,left,center);
        gap: 10px;
        &-item{
           
        }
        }
        
    }


.modal--show {
transform: scale(1);
transition-duration: 1s;
}


.rating{
    &__text{
        margin: 0;
        font-size: 2.5rem;
        font-weight: 500;
    }
}

.genres{
    text-align: left;
    &__list{
        @include flexbox(flex,row,wrap,left,center);
        gap: 10px;
    }
}