@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;

.title{
    font-weight: 300;
    &--small{
        position: absolute;
        top: 1.5rem;
        width: 180%;
        font-size: var(--text-m);
        font-weight: 500;
        @include responsive(laptop){
            top: 1rem;
            font-size: var(--text-l);
        }
    }

    &--gallery{
        margin: 0;
        pointer-events: none;
    }
    &--modal{
        margin: 10px;
        font-size: 2rem;
    }
    &--info-list{
        font-size:var(--text-m);
        font-weight: 500;
        color: var(--grey-items);
    }
}

.tagline{
   
        color: var(--grey-items);
}