:root {
    --primary-font:'Outfit', sans-serif;

    --text-xl:32px;
    --text-l:24px;
    --text-s:18px;
    --text-xs:15px;
    --text-xxs:13px;
  }
  
    $primary-font:'Outfit', sans-serif;
    
    $text-xl:32px;
    $text-l:24px;
    $text-s:18px;
    $text-xs:15px;
    $text-xxs:13px;
  